openapi: 3.1.0
info:
  title: Moderation API
  description: API for automated content moderation
  version: 1.1.0
servers:
  - url: https://api.moderationapi.com/v1
tags:
  - name: Actions
  - name: Queues
  - name: Webhooks
  - name: Wordlist
  - name: UserReports
externalDocs:
  url: https://docs.moderationapi.com
paths:
  /authors:
    get:
      operationId: author-openListAuthors
      summary: List authors
      description: >-
        Get a paginated list of authors with their activity metrics and
        reputation
      tags:
        - author
      security:
        - Authorization: []
      parameters:
        - in: query
          name: pageSize
          schema:
            default: 20
            description: Number of authors per page
            type: number
        - in: query
          name: pageNumber
          schema:
            default: 1
            description: Page number to fetch
            type: number
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - trustLevel
              - violationCount
              - reportCount
              - memberSince
              - lastActive
              - contentCount
              - flaggedContentRatio
              - averageSentiment
        - in: query
          name: sortDirection
          schema:
            default: desc
            description: Sort direction
            type: string
            enum:
              - asc
              - desc
        - in: query
          name: memberSinceDate
          schema:
            type: string
        - in: query
          name: lastActiveDate
          schema:
            type: string
        - in: query
          name: contentTypes
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  authors:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicAuthor'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: number
                      pageSize:
                        type: number
                      pageNumber:
                        type: number
                      hasNextPage:
                        type: boolean
                      hasPreviousPage:
                        type: boolean
                    required:
                      - total
                      - pageSize
                      - pageNumber
                      - hasNextPage
                      - hasPreviousPage
                    additionalProperties: false
                required:
                  - authors
                  - pagination
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const authors = await client.authors.list();

            console.log(authors.authors);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            authors = client.authors.list()
            print(authors.authors)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            authors = moderation_api.authors.list


            puts(authors)
    post:
      operationId: author-openCreate
      summary: Create a new author
      description: >-
        Create a new author. Typically not needed as authors are created
        automatically when content is moderated.
      tags:
        - author
      security:
        - Authorization: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_picture:
                  description: URL of the author's profile picture
                  anyOf:
                    - type: string
                      format: uri
                    - type: 'null'
                external_link:
                  description: URL of the author's external profile
                  anyOf:
                    - type: string
                      format: uri
                    - type: 'null'
                name:
                  description: Author name or identifier
                  anyOf:
                    - type: string
                    - type: 'null'
                email:
                  description: Author email address
                  anyOf:
                    - type: string
                      format: email
                      pattern: >-
                        ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                    - type: 'null'
                company:
                  description: The author's company or organization
                  anyOf:
                    - type: string
                    - type: 'null'
                metadata:
                  type: object
                  properties:
                    email_verified:
                      description: Whether the author's email is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    phone_verified:
                      description: Whether the author's phone number is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    identity_verified:
                      description: Whether the author's identity is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    is_paying_customer:
                      description: Whether the author is a paying customer
                      anyOf:
                        - type: boolean
                        - type: 'null'
                  additionalProperties: {}
                  description: >-
                    Additional metadata provided by your system. We recommend
                    including any relevant information that may assist in the
                    moderation process.
                first_seen:
                  type: number
                  description: Timestamp when author first appeared
                last_seen:
                  type: number
                  description: Timestamp of last activity
                manual_trust_level:
                  anyOf:
                    - type: number
                      minimum: -1
                      maximum: 4
                    - type: 'null'
                external_id:
                  type: string
                  description: >-
                    External ID of the user, typically the ID of the author in
                    your database.
              required:
                - external_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAuthor'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import ModerationAPI from '@moderation-api/sdk';


            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });


            const author = await client.authors.create({ external_id:
            'external_id' });


            console.log(author.id);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            author = client.authors.create(
                external_id="external_id",
            )
            print(author.id)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            author = moderation_api.authors.create(external_id: "external_id")


            puts(author)
  /authors/{id}:
    get:
      operationId: author-openGetAuthorDetails
      summary: Get author details
      description: >-
        Get detailed information about a specific author including historical
        data and analysis
      tags:
        - author
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: Either external ID or the ID assigned by moderation API.
          required: true
          description: Either external ID or the ID assigned by moderation API.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAuthor'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const author = await client.authors.retrieve('id');

            console.log(author.id);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            author = client.authors.retrieve(
                "id",
            )
            print(author.id)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            author = moderation_api.authors.retrieve("id")


            puts(author)
    put:
      operationId: author-openUpdate
      summary: Update author details
      description: Update the details of a specific author
      tags:
        - author
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: Either external ID or the ID assigned by moderation API.
          required: true
          description: Either external ID or the ID assigned by moderation API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_picture:
                  description: URL of the author's profile picture
                  anyOf:
                    - type: string
                      format: uri
                    - type: 'null'
                external_link:
                  description: URL of the author's external profile
                  anyOf:
                    - type: string
                      format: uri
                    - type: 'null'
                name:
                  description: Author name or identifier
                  anyOf:
                    - type: string
                    - type: 'null'
                email:
                  description: Author email address
                  anyOf:
                    - type: string
                      format: email
                      pattern: >-
                        ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                    - type: 'null'
                company:
                  description: The author's company or organization
                  anyOf:
                    - type: string
                    - type: 'null'
                metadata:
                  type: object
                  properties:
                    email_verified:
                      description: Whether the author's email is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    phone_verified:
                      description: Whether the author's phone number is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    identity_verified:
                      description: Whether the author's identity is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    is_paying_customer:
                      description: Whether the author is a paying customer
                      anyOf:
                        - type: boolean
                        - type: 'null'
                  additionalProperties: {}
                  description: >-
                    Additional metadata provided by your system. We recommend
                    including any relevant information that may assist in the
                    moderation process.
                first_seen:
                  type: number
                  description: Timestamp when author first appeared
                last_seen:
                  type: number
                  description: Timestamp of last activity
                manual_trust_level:
                  anyOf:
                    - type: number
                      minimum: -1
                      maximum: 4
                    - type: 'null'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAuthor'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const author = await client.authors.update('id');

            console.log(author.id);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            author = client.authors.update(
                id="id",
            )
            print(author.id)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            author = moderation_api.authors.update("id")


            puts(author)
    delete:
      operationId: author-delete
      summary: Delete an author
      description: Delete a specific author
      tags:
        - author
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                  - success
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const author = await client.authors.delete('id');

            console.log(author.success);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            author = client.authors.delete(
                "id",
            )
            print(author.success)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            author = moderation_api.authors.delete("id")


            puts(author)
  /queue/{id}:
    get:
      operationId: queueView-openGetQueue
      summary: Get a queue
      description: Get a queue
      tags:
        - review-queues
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: The queue ID
          required: true
          description: The queue ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  queue:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      filter:
                        type: object
                        properties:
                          conversationIds:
                            type: array
                            items:
                              anyOf:
                                - type: string
                                - type: 'null'
                          filterLabels:
                            type: array
                            items:
                              type: object
                              properties:
                                label:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                    - FLAGGED
                                    - NOT_FLAGGED
                                    - THRESHOLDS
                                minThreshold:
                                  anyOf:
                                    - type: number
                                      minimum: 0
                                      maximum: 100
                                    - type: 'null'
                                maxThreshold:
                                  anyOf:
                                    - type: number
                                      minimum: 0
                                      maximum: 100
                                    - type: 'null'
                              required:
                                - label
                                - type
                              additionalProperties: false
                          labels:
                            type: array
                            items:
                              type: string
                          afterDate:
                            type: string
                          beforeDate:
                            type: string
                          showChecked:
                            type: boolean
                          authorID:
                            type: string
                          filteredActionIds:
                            type: array
                            items:
                              type: string
                          filteredChannelIds:
                            type: array
                            items:
                              type: string
                          recommendationActions:
                            type: array
                            items:
                              type: string
                              enum:
                                - review
                                - allow
                                - reject
                        additionalProperties: false
                      unresolvedItemsCount:
                        type: number
                      resolvedItemsCount:
                        type: number
                      totalItemsCount:
                        type: number
                    required:
                      - id
                      - name
                      - description
                      - filter
                      - unresolvedItemsCount
                      - resolvedItemsCount
                      - totalItemsCount
                    additionalProperties: false
                required:
                  - queue
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const queue = await client.queue.retrieve('id');

            console.log(queue.queue);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            queue = client.queue.retrieve(
                "id",
            )
            print(queue.queue)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            queue = moderation_api.queue.retrieve("id")


            puts(queue)
  /queue/{id}/stats:
    get:
      operationId: queueView-openGetStats
      summary: Get queue statistics
      description: >-
        Get detailed statistics about a moderation queue including review times,
        action counts, and trends
      tags:
        - review-queues
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: The queue ID
          required: true
          description: The queue ID
        - in: query
          name: withinDays
          schema:
            default: '30'
            description: Number of days to analyze statistics for
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reviewStats:
                    type: object
                    properties:
                      averageTimeToReview:
                        type: number
                        description: Average time in milliseconds to review an item
                      totalReviewed:
                        type: number
                        description: Total number of items reviewed
                      totalPending:
                        type: number
                        description: Total number of items pending review
                    required:
                      - averageTimeToReview
                      - totalReviewed
                      - totalPending
                    additionalProperties: false
                  actionStats:
                    type: array
                    items:
                      type: object
                      properties:
                        actionId:
                          type: string
                          description: ID of the moderation action
                        actionName:
                          type: string
                          description: Name of the moderation action
                        count:
                          type: number
                          description: Number of times this action was taken
                        percentageOfTotal:
                          type: number
                          description: Percentage this action represents of all actions
                      required:
                        - actionId
                        - actionName
                        - count
                        - percentageOfTotal
                      additionalProperties: false
                  topReviewers:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: string
                          description: ID of the reviewer
                        name:
                          type: string
                          description: Name of the reviewer
                        reviewCount:
                          type: number
                          description: Number of items reviewed
                        averageTimePerReview:
                          type: number
                          description: Average review time in milliseconds
                        accuracyScore:
                          description: >-
                            Optional accuracy score based on review quality
                            metrics
                          type: number
                        topActions:
                          type: array
                          items:
                            type: object
                            properties:
                              actionId:
                                type: string
                                description: Most used action by this reviewer
                              actionName:
                                type: string
                                description: Name of the most used action
                              count:
                                type: number
                                description: Number of times this action was used
                            required:
                              - actionId
                              - actionName
                              - count
                            additionalProperties: false
                          description: Most common actions taken by this reviewer
                      required:
                        - userId
                        - name
                        - reviewCount
                        - averageTimePerReview
                        - topActions
                      additionalProperties: false
                    description: List of top reviewers and their statistics
                  trends:
                    type: object
                    properties:
                      dailyReviewCounts:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              description: Date in YYYY-MM-DD format
                            count:
                              type: number
                              description: Number of reviews on this date
                          required:
                            - date
                            - count
                          additionalProperties: false
                      flaggedContentTrends:
                        type: array
                        items:
                          type: object
                          properties:
                            label:
                              type: string
                              description: Content flag/label
                            trend:
                              type: number
                              description: >-
                                Trend indicator (-1 to 1) showing if this type
                                of flagged content is increasing or decreasing
                          required:
                            - label
                            - trend
                          additionalProperties: false
                    required:
                      - dailyReviewCounts
                      - flaggedContentTrends
                    additionalProperties: false
                required:
                  - reviewStats
                  - actionStats
                  - topReviewers
                  - trends
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const response = await client.queue.getStats('id');

            console.log(response.actionStats);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            response = client.queue.get_stats(
                id="id",
            )
            print(response.action_stats)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            response = moderation_api.queue.get_stats("id")


            puts(response)
  /queue/{id}/items:
    get:
      operationId: queueView-openGetItems
      summary: Get queue items
      description: Get paginated list of items in a moderation queue with filtering options
      tags:
        - review-queues
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: The queue ID
          required: true
          description: The queue ID
        - in: query
          name: pageSize
          schema:
            default: 20
            description: Number of items per page
            type: number
        - in: query
          name: pageNumber
          schema:
            default: 1
            description: Page number to fetch
            type: number
        - in: query
          name: sortField
          schema:
            type: string
            enum:
              - createdAt
              - severity
              - reviewedAt
        - in: query
          name: sortDirection
          schema:
            default: desc
            description: Sort direction
            type: string
            enum:
              - asc
              - desc
        - in: query
          name: conversationIds
          schema:
            type: string
        - in: query
          name: labels
          schema:
            type: string
        - in: query
          name: afterDate
          schema:
            type: string
        - in: query
          name: beforeDate
          schema:
            type: string
        - in: query
          name: includeResolved
          schema:
            type: string
        - in: query
          name: authorId
          schema:
            type: string
        - in: query
          name: filteredActionIds
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Content ID
                        content:
                          type: string
                          description: The content to be moderated
                        language:
                          description: Content language
                          type: string
                        labels:
                          type: array
                          items:
                            type: object
                            properties:
                              label:
                                type: string
                                description: Label name
                              score:
                                type: number
                                description: Confidence score of the label
                              flagged:
                                type: boolean
                                description: Whether this label caused a flag
                            required:
                              - label
                              - score
                              - flagged
                            additionalProperties: false
                        conversationId:
                          description: Conversation ID
                          type: string
                        authorId:
                          description: Author ID
                          type: string
                        actions:
                          description: Action IDs taken on this item
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Action ID
                              name:
                                type: string
                                description: Action name
                              comment:
                                description: Action comment
                                type: string
                              timestamp:
                                type: number
                                description: Unix timestamp of when the action was taken
                              reviewer:
                                description: Moderator userID
                                type: string
                            required:
                              - id
                              - name
                              - timestamp
                            additionalProperties: false
                        flagged:
                          type: boolean
                          description: Whether the item is flagged by any label
                        status:
                          type: string
                          enum:
                            - pending
                            - resolved
                          description: Status of the item
                        timestamp:
                          type: number
                          description: Unix timestamp of when the item was created
                        contentType:
                          description: Type of the content object
                          type: string
                      required:
                        - id
                        - content
                        - labels
                        - flagged
                        - status
                        - timestamp
                      additionalProperties: false
                  pagination:
                    type: object
                    properties:
                      totalItems:
                        type: number
                      totalPages:
                        type: number
                      currentPage:
                        type: number
                      hasNextPage:
                        type: boolean
                      hasPreviousPage:
                        type: boolean
                    required:
                      - totalItems
                      - totalPages
                      - currentPage
                      - hasNextPage
                      - hasPreviousPage
                    additionalProperties: false
                required:
                  - items
                  - pagination
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const items = await client.queue.items.list('id');

            console.log(items.items);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            items = client.queue.items.list(
                id="id",
            )
            print(items.items)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            items = moderation_api.queue.items.list("id")


            puts(items)
  /queue/{id}/items/{itemId}/resolve:
    post:
      operationId: queueView-openResolveItem
      summary: Resolve a queue item
      description: Mark a queue item as resolved with a specific moderation action
      tags:
        - review-queues
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: The queue ID
          required: true
          description: The queue ID
        - in: path
          name: itemId
          schema:
            type: string
            description: The item ID to resolve
          required: true
          description: The item ID to resolve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  description: Optional comment
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  resolvedAt:
                    type: string
                    description: Timestamp when the item was resolved
                  comment:
                    description: Optional comment
                    type: string
                required:
                  - success
                  - resolvedAt
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import ModerationAPI from '@moderation-api/sdk';


            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });


            const response = await client.queue.items.resolve('itemId', { id:
            'id' });


            console.log(response.resolvedAt);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            response = client.queue.items.resolve(
                item_id="itemId",
                id="id",
            )
            print(response.resolved_at)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            response = moderation_api.queue.items.resolve("itemId", id: "id")


            puts(response)
  /queue/{id}/items/{itemId}/unresolve:
    post:
      operationId: queueView-openUnresolveItem
      summary: Unresolve a queue item
      description: Mark a previously resolved queue item as unresolved/pending
      tags:
        - review-queues
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: The queue ID
          required: true
          description: The queue ID
        - in: path
          name: itemId
          schema:
            type: string
            description: The item ID to unresolve
          required: true
          description: The item ID to unresolve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  description: Optional reason for unresolving the item
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    type: string
                    description: New status of the item
                  unresolvedAt:
                    type: string
                    description: Timestamp when the item was unresolved
                required:
                  - success
                  - status
                  - unresolvedAt
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import ModerationAPI from '@moderation-api/sdk';


            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });


            const response = await client.queue.items.unresolve('itemId', { id:
            'id' });


            console.log(response.status);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            response = client.queue.items.unresolve(
                item_id="itemId",
                id="id",
            )
            print(response.status)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            response = moderation_api.queue.items.unresolve("itemId", id: "id")


            puts(response)
  /actions:
    get:
      operationId: actions-list
      summary: List moderation actions
      description: >-
        List all available moderation actions for the authenticated
        organization.
      tags:
        - Actions
      security:
        - Authorization: []
      parameters:
        - in: query
          name: queueId
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The ID of the action.
                    key:
                      description: User defined key of the action.
                      anyOf:
                        - type: string
                        - type: 'null'
                    createdAt:
                      description: The date the action was created.
                      type: string
                    name:
                      type: string
                      description: The name of the action.
                    description:
                      description: The description of the action.
                      anyOf:
                        - type: string
                        - type: 'null'
                    type:
                      description: The type of the action.
                      anyOf:
                        - type: string
                          enum:
                            - AUTHOR_BLOCK
                            - AUTHOR_BLOCK_TEMP
                            - AUTHOR_UNBLOCK
                            - AUTHOR_DELETE
                            - AUTHOR_REPORT
                            - AUTHOR_WARN
                            - AUTHOR_CUSTOM
                            - ITEM_REJECT
                            - ITEM_ALLOW
                            - ITEM_CUSTOM
                        - type: 'null'
                    builtIn:
                      default: false
                      description: Whether the action is a built-in action or a custom one.
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    queueBehaviour:
                      default: NO_CHANGE
                      description: >-
                        Whether the action resolves and removes the item,
                        unresolves and re-add it to the queue, or does not
                        change the resolve status.
                      type: string
                      enum:
                        - REMOVE
                        - ADD
                        - NO_CHANGE
                    filterInQueueIds:
                      default: []
                      description: The IDs of the queues the action is available in.
                      type: array
                      items:
                        type: string
                    position:
                      default: ALL_QUEUES
                      description: >-
                        Show the action in all queues, selected queues or no
                        queues (to use via API only).
                      type: string
                      enum:
                        - ALL_QUEUES
                        - SOME_QUEUES
                        - HIDDEN
                    possibleValues:
                      default: []
                      description: >-
                        The possible values of the action. The user will be
                        prompted to select one of these values when executing
                        the action.
                      type: array
                      items:
                        type: object
                        properties:
                          value:
                            type: string
                            description: The value of the action.
                        required:
                          - value
                        additionalProperties: false
                    valueRequired:
                      default: false
                      description: Whether the action requires a value to be executed.
                      type: boolean
                    freeText:
                      default: false
                      description: >-
                        Whether the action allows any text to be entered as a
                        value or if it must be one of the possible values.
                      type: boolean
                  required:
                    - id
                    - createdAt
                    - name
                    - builtIn
                    - queueBehaviour
                    - filterInQueueIds
                    - position
                    - possibleValues
                    - valueRequired
                    - freeText
                  additionalProperties: false
                description: List of moderation actions with their associated webhooks
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const actions = await client.actions.list();

            console.log(actions);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            actions = client.actions.list()
            print(actions)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            actions = moderation_api.actions.list


            puts(actions)
    post:
      operationId: actions-create
      summary: Create an action
      description: Create an action.
      tags:
        - Actions
      security:
        - Authorization: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: User defined key of the action.
                  anyOf:
                    - type: string
                    - type: 'null'
                name:
                  type: string
                  description: The name of the action.
                description:
                  description: The description of the action.
                  anyOf:
                    - type: string
                    - type: 'null'
                type:
                  description: The type of the action.
                  anyOf:
                    - type: string
                      enum:
                        - AUTHOR_BLOCK
                        - AUTHOR_BLOCK_TEMP
                        - AUTHOR_UNBLOCK
                        - AUTHOR_DELETE
                        - AUTHOR_REPORT
                        - AUTHOR_WARN
                        - AUTHOR_CUSTOM
                        - ITEM_REJECT
                        - ITEM_ALLOW
                        - ITEM_CUSTOM
                    - type: 'null'
                builtIn:
                  default: false
                  description: Whether the action is a built-in action or a custom one.
                  anyOf:
                    - type: boolean
                    - type: 'null'
                queueBehaviour:
                  default: NO_CHANGE
                  description: >-
                    Whether the action resolves and removes the item, unresolves
                    and re-add it to the queue, or does not change the resolve
                    status.
                  type: string
                  enum:
                    - REMOVE
                    - ADD
                    - NO_CHANGE
                filterInQueueIds:
                  default: []
                  description: The IDs of the queues the action is available in.
                  type: array
                  items:
                    type: string
                position:
                  default: ALL_QUEUES
                  description: >-
                    Show the action in all queues, selected queues or no queues
                    (to use via API only).
                  type: string
                  enum:
                    - ALL_QUEUES
                    - SOME_QUEUES
                    - HIDDEN
                possibleValues:
                  default: []
                  description: >-
                    The possible values of the action. The user will be prompted
                    to select one of these values when executing the action.
                  type: array
                  items:
                    type: object
                    properties:
                      value:
                        type: string
                        description: The value of the action.
                    required:
                      - value
                valueRequired:
                  default: false
                  description: Whether the action requires a value to be executed.
                  type: boolean
                freeText:
                  default: false
                  description: >-
                    Whether the action allows any text to be entered as a value
                    or if it must be one of the possible values.
                  type: boolean
              required:
                - name
      responses:
        '200':
          description: Action created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the action.
                  key:
                    description: User defined key of the action.
                    anyOf:
                      - type: string
                      - type: 'null'
                  createdAt:
                    description: The date the action was created.
                    type: string
                  name:
                    type: string
                    description: The name of the action.
                  description:
                    description: The description of the action.
                    anyOf:
                      - type: string
                      - type: 'null'
                  type:
                    description: The type of the action.
                    anyOf:
                      - type: string
                        enum:
                          - AUTHOR_BLOCK
                          - AUTHOR_BLOCK_TEMP
                          - AUTHOR_UNBLOCK
                          - AUTHOR_DELETE
                          - AUTHOR_REPORT
                          - AUTHOR_WARN
                          - AUTHOR_CUSTOM
                          - ITEM_REJECT
                          - ITEM_ALLOW
                          - ITEM_CUSTOM
                      - type: 'null'
                  builtIn:
                    default: false
                    description: Whether the action is a built-in action or a custom one.
                    anyOf:
                      - type: boolean
                      - type: 'null'
                  queueBehaviour:
                    default: NO_CHANGE
                    description: >-
                      Whether the action resolves and removes the item,
                      unresolves and re-add it to the queue, or does not change
                      the resolve status.
                    type: string
                    enum:
                      - REMOVE
                      - ADD
                      - NO_CHANGE
                  filterInQueueIds:
                    default: []
                    description: The IDs of the queues the action is available in.
                    type: array
                    items:
                      type: string
                  position:
                    default: ALL_QUEUES
                    description: >-
                      Show the action in all queues, selected queues or no
                      queues (to use via API only).
                    type: string
                    enum:
                      - ALL_QUEUES
                      - SOME_QUEUES
                      - HIDDEN
                  possibleValues:
                    default: []
                    description: >-
                      The possible values of the action. The user will be
                      prompted to select one of these values when executing the
                      action.
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                          description: The value of the action.
                      required:
                        - value
                      additionalProperties: false
                  valueRequired:
                    default: false
                    description: Whether the action requires a value to be executed.
                    type: boolean
                  freeText:
                    default: false
                    description: >-
                      Whether the action allows any text to be entered as a
                      value or if it must be one of the possible values.
                    type: boolean
                required:
                  - id
                  - createdAt
                  - name
                  - builtIn
                  - queueBehaviour
                  - filterInQueueIds
                  - position
                  - possibleValues
                  - valueRequired
                  - freeText
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '409':
          description: Action with this key already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.CONFLICT'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const action = await client.actions.create({ name: 'name' });

            console.log(action.id);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            action = client.actions.create(
                name="name",
            )
            print(action.id)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            action = moderation_api.actions.create(name: "name")


            puts(action)
  /actions/{id}:
    get:
      operationId: actions-get
      summary: Get an action
      description: Get an action by ID.
      tags:
        - Actions
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: The ID of the action to get.
          required: true
          description: The ID of the action to get.
      responses:
        '200':
          description: Action retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the action.
                  key:
                    description: User defined key of the action.
                    anyOf:
                      - type: string
                      - type: 'null'
                  createdAt:
                    description: The date the action was created.
                    type: string
                  name:
                    type: string
                    description: The name of the action.
                  description:
                    description: The description of the action.
                    anyOf:
                      - type: string
                      - type: 'null'
                  type:
                    description: The type of the action.
                    anyOf:
                      - type: string
                        enum:
                          - AUTHOR_BLOCK
                          - AUTHOR_BLOCK_TEMP
                          - AUTHOR_UNBLOCK
                          - AUTHOR_DELETE
                          - AUTHOR_REPORT
                          - AUTHOR_WARN
                          - AUTHOR_CUSTOM
                          - ITEM_REJECT
                          - ITEM_ALLOW
                          - ITEM_CUSTOM
                      - type: 'null'
                  builtIn:
                    default: false
                    description: Whether the action is a built-in action or a custom one.
                    anyOf:
                      - type: boolean
                      - type: 'null'
                  queueBehaviour:
                    default: NO_CHANGE
                    description: >-
                      Whether the action resolves and removes the item,
                      unresolves and re-add it to the queue, or does not change
                      the resolve status.
                    type: string
                    enum:
                      - REMOVE
                      - ADD
                      - NO_CHANGE
                  filterInQueueIds:
                    default: []
                    description: The IDs of the queues the action is available in.
                    type: array
                    items:
                      type: string
                  position:
                    default: ALL_QUEUES
                    description: >-
                      Show the action in all queues, selected queues or no
                      queues (to use via API only).
                    type: string
                    enum:
                      - ALL_QUEUES
                      - SOME_QUEUES
                      - HIDDEN
                  possibleValues:
                    default: []
                    description: >-
                      The possible values of the action. The user will be
                      prompted to select one of these values when executing the
                      action.
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                          description: The value of the action.
                      required:
                        - value
                      additionalProperties: false
                  valueRequired:
                    default: false
                    description: Whether the action requires a value to be executed.
                    type: boolean
                  freeText:
                    default: false
                    description: >-
                      Whether the action allows any text to be entered as a
                      value or if it must be one of the possible values.
                    type: boolean
                required:
                  - id
                  - createdAt
                  - name
                  - builtIn
                  - queueBehaviour
                  - filterInQueueIds
                  - position
                  - possibleValues
                  - valueRequired
                  - freeText
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const action = await client.actions.retrieve('id');

            console.log(action.id);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            action = client.actions.retrieve(
                "id",
            )
            print(action.id)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            action = moderation_api.actions.retrieve("id")


            puts(action)
    put:
      operationId: actions-update
      summary: Update an action
      description: Update an action.
      tags:
        - Actions
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: The ID of the action to update.
          required: true
          description: The ID of the action to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: User defined key of the action.
                  anyOf:
                    - type: string
                    - type: 'null'
                name:
                  type: string
                  description: The name of the action.
                description:
                  description: The description of the action.
                  anyOf:
                    - type: string
                    - type: 'null'
                type:
                  description: The type of the action.
                  anyOf:
                    - type: string
                      enum:
                        - AUTHOR_BLOCK
                        - AUTHOR_BLOCK_TEMP
                        - AUTHOR_UNBLOCK
                        - AUTHOR_DELETE
                        - AUTHOR_REPORT
                        - AUTHOR_WARN
                        - AUTHOR_CUSTOM
                        - ITEM_REJECT
                        - ITEM_ALLOW
                        - ITEM_CUSTOM
                    - type: 'null'
                builtIn:
                  default: false
                  description: Whether the action is a built-in action or a custom one.
                  anyOf:
                    - type: boolean
                    - type: 'null'
                queueBehaviour:
                  default: NO_CHANGE
                  description: >-
                    Whether the action resolves and removes the item, unresolves
                    and re-add it to the queue, or does not change the resolve
                    status.
                  type: string
                  enum:
                    - REMOVE
                    - ADD
                    - NO_CHANGE
                filterInQueueIds:
                  default: []
                  description: The IDs of the queues the action is available in.
                  type: array
                  items:
                    type: string
                position:
                  default: ALL_QUEUES
                  description: >-
                    Show the action in all queues, selected queues or no queues
                    (to use via API only).
                  type: string
                  enum:
                    - ALL_QUEUES
                    - SOME_QUEUES
                    - HIDDEN
                possibleValues:
                  default: []
                  description: >-
                    The possible values of the action. The user will be prompted
                    to select one of these values when executing the action.
                  type: array
                  items:
                    type: object
                    properties:
                      value:
                        type: string
                        description: The value of the action.
                    required:
                      - value
                valueRequired:
                  default: false
                  description: Whether the action requires a value to be executed.
                  type: boolean
                freeText:
                  default: false
                  description: >-
                    Whether the action allows any text to be entered as a value
                    or if it must be one of the possible values.
                  type: boolean
      responses:
        '200':
          description: Action updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the action.
                  key:
                    description: User defined key of the action.
                    anyOf:
                      - type: string
                      - type: 'null'
                  createdAt:
                    description: The date the action was created.
                    type: string
                  name:
                    type: string
                    description: The name of the action.
                  description:
                    description: The description of the action.
                    anyOf:
                      - type: string
                      - type: 'null'
                  type:
                    description: The type of the action.
                    anyOf:
                      - type: string
                        enum:
                          - AUTHOR_BLOCK
                          - AUTHOR_BLOCK_TEMP
                          - AUTHOR_UNBLOCK
                          - AUTHOR_DELETE
                          - AUTHOR_REPORT
                          - AUTHOR_WARN
                          - AUTHOR_CUSTOM
                          - ITEM_REJECT
                          - ITEM_ALLOW
                          - ITEM_CUSTOM
                      - type: 'null'
                  builtIn:
                    default: false
                    description: Whether the action is a built-in action or a custom one.
                    anyOf:
                      - type: boolean
                      - type: 'null'
                  queueBehaviour:
                    default: NO_CHANGE
                    description: >-
                      Whether the action resolves and removes the item,
                      unresolves and re-add it to the queue, or does not change
                      the resolve status.
                    type: string
                    enum:
                      - REMOVE
                      - ADD
                      - NO_CHANGE
                  filterInQueueIds:
                    default: []
                    description: The IDs of the queues the action is available in.
                    type: array
                    items:
                      type: string
                  position:
                    default: ALL_QUEUES
                    description: >-
                      Show the action in all queues, selected queues or no
                      queues (to use via API only).
                    type: string
                    enum:
                      - ALL_QUEUES
                      - SOME_QUEUES
                      - HIDDEN
                  possibleValues:
                    default: []
                    description: >-
                      The possible values of the action. The user will be
                      prompted to select one of these values when executing the
                      action.
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                          description: The value of the action.
                      required:
                        - value
                      additionalProperties: false
                  valueRequired:
                    default: false
                    description: Whether the action requires a value to be executed.
                    type: boolean
                  freeText:
                    default: false
                    description: >-
                      Whether the action allows any text to be entered as a
                      value or if it must be one of the possible values.
                    type: boolean
                required:
                  - id
                  - createdAt
                  - name
                  - builtIn
                  - queueBehaviour
                  - filterInQueueIds
                  - position
                  - possibleValues
                  - valueRequired
                  - freeText
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '409':
          description: Action with this key already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.CONFLICT'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const action = await client.actions.update('id');

            console.log(action.id);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            action = client.actions.update(
                id="id",
            )
            print(action.id)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            action = moderation_api.actions.update("id")


            puts(action)
    delete:
      operationId: actions-delete
      summary: Delete an action
      description: Delete an action and all of its webhooks.
      tags:
        - Actions
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: The ID of the action to delete.
          required: true
          description: The ID of the action to delete.
      responses:
        '200':
          description: Action deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                    description: Whether the action was deleted.
                  id:
                    type: string
                    description: The ID of the action.
                required:
                  - deleted
                  - id
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const action = await client.actions.delete('id');

            console.log(action.id);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            action = client.actions.delete(
                "id",
            )
            print(action.id)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            action = moderation_api.actions.delete("id")


            puts(action)
  /actions/execute:
    post:
      operationId: actions-execute
      summary: Execute moderation action
      description: Execute a moderation action on one or more content items.
      tags:
        - Actions
      security:
        - Authorization: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                actionKey:
                  type: string
                  description: ID or key of the action to execute
                contentIds:
                  description: >-
                    IDs of the content items to apply the action to. Provide
                    this or authorIds.
                  type: array
                  items:
                    type: string
                authorIds:
                  description: >-
                    IDs of the authors to apply the action to. Provide this or
                    contentIds.
                  type: array
                  items:
                    type: string
                value:
                  description: Optional value to provide with the action
                  type: string
                queueId:
                  description: Optional queue ID if the action is queue-specific
                  type: string
                duration:
                  description: Optional duration in milliseconds for actions with timeouts
                  type: number
                  minimum: 0
              required:
                - actionKey
              description: Input parameters
      responses:
        '200':
          description: Action executed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the action was executed successfully
                required:
                  - success
                additionalProperties: false
                description: Execution result
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import ModerationAPI from '@moderation-api/sdk';


            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });


            const response = await client.actions.execute.execute({ actionKey:
            'actionKey' });


            console.log(response.success);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            response = client.actions.execute.execute(
                action_key="actionKey",
            )
            print(response.success)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            response = moderation_api.actions.execute.execute(action_key:
            "actionKey")


            puts(response)
  /actions/{actionId}/execute:
    post:
      operationId: actions-executeDeprecated
      summary: Execute an action
      description: Execute an action on a set of content items in a queue.
      tags:
        - Actions
      security:
        - Authorization: []
      deprecated: true
      parameters:
        - in: path
          name: actionId
          schema:
            type: string
            description: The ID or key of the action to execute.
          required: true
          description: The ID or key of the action to execute.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contentIds:
                  description: The IDs of the content items to perform the action on.
                  type: array
                  items:
                    type: string
                authorIds:
                  description: IDs of the authors to apply the action to
                  type: array
                  items:
                    type: string
                queueId:
                  description: The ID of the queue the action was performed from if any.
                  type: string
                value:
                  description: >-
                    The value of the action. Useful to set a reason for the
                    action etc.
                  type: string
      responses:
        '200':
          description: Action executed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Action executed successfully.
                  actionId:
                    type: string
                    description: The ID of the action.
                  ids:
                    type: array
                    items:
                      type: string
                    description: The IDs of the content items.
                required:
                  - success
                  - actionId
                  - ids
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import ModerationAPI from '@moderation-api/sdk';


            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });


            const response = await
            client.actions.execute.executeByID('actionId');


            console.log(response.ids);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            response = client.actions.execute.execute_by_id(
                action_id="actionId",
            )
            print(response.ids)
        - lang: Ruby
          source: >-
            require "moderation_api"


            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret
            Key")


            response = moderation_api.actions.execute.execute_by_id("actionId")


            puts(response)
  /moderate/text:
    post:
      operationId: moderation-text
      summary: Analyze text
      description: >-
        (Deprecated use https://api.moderationapi.com/v1/moderate) Analyze text
        content with your configured moderation models and filters.
      tags:
        - Moderate
      security:
        - Authorization: []
      deprecated: true
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contentId:
                  description: The unique ID of the content in your database.
                  type: string
                  minLength: 1
                  maxLength: 100
                value:
                  type: string
                  minLength: 1
                  maxLength: 100000
                  description: >-
                    The text you'd like to analyze. We recommend to submit plain
                    text or HTML
                channelKey:
                  description: The key of the channel.
                  type: string
                doNotStore:
                  description: >-
                    Do not store the content. The content won't enter the review
                    queue
                  type: boolean
                authorId:
                  description: The author of the content.
                  type: string
                contextId:
                  description: For example the ID of a chat room or a post
                  type: string
                metadata:
                  description: Any metadata you want to store with the content
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties: {}
              required:
                - value
              description: Input parameters for text moderation
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        description: Success if the request was successful
                      error:
                        description: Error message if the request failed
                      contentId:
                        description: >-
                          The ID of the content. Only returned if the content
                          was stored.
                        type: string
                      request:
                        type: object
                        properties:
                          timestamp:
                            type: number
[...]
